<div class="site-section" id="what-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
      <div class="col-7 text-center mb-5">
        <h2 class="section-title">What you need to talk about</h2>

        <p class="lead">
          Todo: undertitle
        </p>
      </div>
    </div>

    <!-- 4) Age & occupation -->
    <div class="row mb-5 site-section">
      <!-- Block of text to the right -->
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">Topics in the clusters</h2>
        <p class="mb-4">
          todo: talk about the topics
        </p>
      </div>
      <!-- Plots to the left -->
      <div class="col-lg-7" data-aos="fade-right">
        <html>
          <head>
            <script src="assets\js\jquery-3.3.1.min.js"></script>
            <script>
              $(function () {
                $("#top-topics").load("assets\\images\\top-topics.html");
              });
            </script>
          </head>
        </html>
        <body>
          <div id="top-topics"></div>
        </body>
      </div>
      <!-- END -->
    </div>
  </div>
</div>
